<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagina1.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="items_1">
        <h1>Just That Simple</h1>
    </div>
    <div class="items_2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rerum saepe aspernatur quod, molestiae quo, velit architecto quae eligendi fuga voluptas asperiores beatae cum ad perferendis eaque illo. Reprehenderit, earum.
        </p>
        <button class="button">Get Stared</button>
    </div>
    <div class="items_3">
        <img src="../storage/img/imagenes_1/hero Image.png" alt="">
    </div>

</body>

</html>